#conteneur
{
    display: flex;
    justify-content: flex-end;
    color: red;
}

a
{
	font-style: none;
	color: grey;
	text-decoration: blink;
}

#buttonconnexion
 {
    background-color: #4885ed;
    color: white;
    padding: 8px;
    width: 100px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
    border: none;   
 }

#logo
{
  display: flex;
  justify-content: center;
}

#recherche
{
	display: flex;
  justify-content: center;
}

#buttonsrecherche
{
  display: flex;
justify-content: center;
}

#buttonconsulter
 {
    background-color: #4885ed;
    color: white;
    padding: 10px;
    width: 200px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
    border: none;   
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
 }

 #buttonrappeler
 {
    background-color: white;
    color: #4885ed;
    padding: 10px;
    width: 250px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
    border: none;   
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
 }

#section
{
  display: flex;
justify-content: flex-end;
align-items: : flex-start;
}

#buttonrecherche
 {
    background-color: rgb(218,222,221);
    color: rgb(97,100,99);
    padding: 10px;
    width: 250px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
    border: none;   
    margin-left: auto;
    margin-right: 10px;
    white-space: nowrap;
    }

#buttonchance 
 {
    background-color: rgb(218,222,221);
    color: rgb(97,100,99);
    padding: 10px;
    width: 250px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 1px;
    border: none;   
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    }